@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root,
[data-theme="light"] {
  --resume-heading: #291334;
  --resume-text: #4b5563;
}

[data-theme="dark"]{
  --resume-heading: var(--bc);
  --resume-text: var(--bc);
}