@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root,
[data-theme="light"],
[data-theme="cupcake"] {
  --resume-heading: #291334;  /* change if needed */
  --resume-text: #4b5563;
}

[data-theme="dark"],
[data-theme="synthwave"],
[data-theme="coffee"] {
  --resume-heading: var(--bc);
  --resume-text: var(--bc);
}